{% extends "base.html" %}
{% load static %}
{% block title%}About{% endblock title %}

{% block content %}
<h1>About Me</h1>
<img src="{% static 'img/Groucho.jfif' %}">
<p>Hi, my name is Mike Sanders and I am currently attending a full stack development course, I thought it would be fun and cool to learn this. It's more like learning mandarin in 6 months. I know I'll be taking another one just to understand what the hell is going on. Also, I am 48 years old and live in Wisconsin and like things that go boom, and my children.</p>
{% endblock content %}